#titulo{
    font-size: 300%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}
#sublog{
    font-size: 160%;
    padding-bottom: 5%;
}

#inputlog{
    padding-bottom: 5%;
}
#cardlog{
    border-radius: 5%;
    border-color: black;
    border-style: inset
}